[package]
name = "rust"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[features]
default = []
disengaged = ["godot/safeguards-release-disengaged"]

[dependencies]
godot = "0.4.5"
rand = "0.10.0"

[profile.dev]
opt-level = 0

[profile.release]
opt-level = 3